.a{
    text-align: left;
    font-size: large;
}
.q{
    background-color: blue;
}
.q2{
    background-color: green;
}
.q3{
    background-color: darkcyan;
}
.q4{
    background-color: darkgoldenrod;
}
.q5{
    background-color: brown;
}
.w{
    font-size: 20px;
    margin-left: 320px;
}
.w2{
    font-size: 20px;
    margin-left: 505px;
}
.w3{
    font-size: 20px;
    margin-left: 690px;
}
.w4{
    font-size: 20px;
    margin-left: 320px;
}
.w5{
    font-size: 20px;
    margin-left: 135px;
}